<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400&display=swap" rel="stylesheet">
    <title>oryxs</title>
</head>
<body>
    <header>
        <h1>&ltoryx&gt</h1>
    </header>
    
    <section class="links">
        <a href="./statcard/index.html" class="statcard"><img src="./images/statsprev.PNG" alt="" class="portimg"></a> <br><br>
        <a href="./ordersum/index.html" class="ordersum"><img src="./images/orderprev.PNG" alt="" class="portimg"></a>
    </section>
    
</body>
</html>